body{
    display:flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, Sans-serif;
    flex: 1;
    height: 100%;
}

H1{
    font-size: 24px;
    color: #F9FAF8;
}

h2{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


p{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    font-size:14px;
    color: #F9FAF8;
    padding: 10px;
    border-radius: 25px;
    background-color: #3882f6;
}
.first-section{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: space-around;
}

.second-section{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.third-section{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.modal{
    width: 600px;

}

.information-header{
    display: flex;
    color:#1F2937;
    font-size: 48px;
}

.big-threes{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
    align-items: center;
    flex: 1;
}

img{
    border: 3px solid blue;
    border-radius: 25px;
    
}

.text{
  text-align: center;
}

.top-animes{
    display: flex;
    gap: 42px;
    align-items: center;
}

.cube{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: 250px;

    gap: 20px;

}
